
.icon-plus:before { content: '\e800'; } /* '' */
.icon-eq-outline:before { content: '\e801'; } /* '' */
.icon-coffee:before { content: '\e802'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */