html {
    scroll-behavior: smooth;    
}
.row {

    overflow: hidden;
}
.container-fluid {
    background-color: rgba(224, 224, 224, 0.7);
    font-family: 'Raleway', sans-serif;
    color: #333;
}

/* 
*********************************** 
        HEADER STYLES
***********************************
*/

/* Para el scrollspy */

#main-nav.scrolled, #main-nav.buttonaso  {
    transition: 1s ease;
    background: rgb(23, 32, 42) !important;
}

#main-nav .act .active{
    opacity: 1;
    color: white;
    background: rgba(255, 255, 255, 0.1);
}

.nav_isam {
    color: white;
    text-shadow: #474747 3px 5px 2px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -0.5px;
    margin-left: 15px;
    font-size: 30px;
}

.nav-link {
   padding: 15px 15px !important;
   opacity: 0.7;
   color: white;
}

/* Active link style (highlight current section) */
.navbar-nav .nav-link.active {
    background: rgba(255, 255, 255, 0.08);
    color: #fff !important;
    opacity: 1;
    border-radius: 3px;
}

/* Focus visible for keyboard users */
.nav-link:focus-visible, .navbar-toggler:focus-visible {
    outline: 3px solid rgba(255,255,255,0.18);
    outline-offset: 2px;
}

/* HOVER BORDE. */
nav ul li {    
    color: white;
    opacity: 1;
    position: relative;

}

nav ul li:before{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: all .3s;
}

nav ul li:hover:before{
  opacity: 1;
  left: 0;
  width: 100%;
}

nav ul li a:hover{
  opacity: 1;
  color: white;
}




/* 
*********************************** 
        MAIN STYLES
***********************************
*/

.columnsmain, .foto_aboutme {
    margin-top: 70px;
}

/* PARA LA IMAGEN DE LA CABECERA, DEPENDIENDO SI ES MOVIL O ALGO MÁS GRANDE. */
@media (min-width: 767px) {
    #inicio {        
      background-image: url("../img/cabecera.png");
      background-size: cover;
    }
  }/* 

@media only screen and (max-width: 959px) {
    #inicio:before {
    background-image: url("../img/cabecera_movil.png");
    background-size: cover;
    }
} */

@media (max-width: 767px) {
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
  }

#inicio {
    color: white;
    height: 100vh;
    opacity: 1;
    /* BG-IMAGE */
    background-position: center left;          
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
}


/* ICONS MAIN STYLES  */
/* ICONOS EN MÓVIL O EN ORDENADOR. */
@media (min-width: 767px) {
    .icon-laptop {        
        font-size: 100px;
    }
    
    .icon-plus {
        font-size: 25px;
    }    

    .icon-coffee-1 {
        font-size: 50px;
    }

    .icon-eq-outline {
        font-size: 25px;
    }  
  }

@media (max-width: 767px) {
    .icon-laptop {        
        font-size: 50px;
    }
    .icon-plus {
        font-size: 15px;
    }
    .icon-coffee-1 {
        font-size: 30px;
    }  
    .icon-eq-outline {
        font-size: 15px;
    }  
  }

.icon-laptop:hover:before {
	-webkit-animation: toTopFromBottom 0.6s forwards;
	-moz-animation: toTopFromBottom 0.6s forwards;
	animation: toTopFromBottom 0.6s forwards;
}

@-webkit-keyframes toTopFromBottom {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toTopFromBottom {
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}

.icon-coffee-1:hover:before {
	-webkit-animation: toBottomFromTop 0.6s forwards;
	-moz-animation: toBottomFromTop 0.6s forwards;
	animation: toBottomFromTop 0.6s forwards;
}

@-webkit-keyframes toBottomFromTop {
	49% {
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toBottomFromTop {
	49% {
		-moz-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toBottomFromTop {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}

.icon-plus:hover:before  {
	-webkit-animation: spinAround 4s linear infinite;
	-moz-animation: spinAround 4s linear infinite;
	animation: spinAround 4s linear infinite;
}

.icon-eq-outline:hover:before  {
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}
/* Una pequeña funciona para rotar los iconos. */

@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(360deg)
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}
@-moz-keyframes spin {
	from {
		-moz-transform: rotate(360deg)
	}
	to {
		-moz-transform: rotate(0deg);
	}
}
@keyframes spin {
	from {
		transform: rotate(360deg)
	}
	to {
		transform: rotate(0deg);
	}
}

.encabezado_isam {
    color: white;
    text-shadow: #474747 3px 5px 2px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 44px;
    letter-spacing: -0.6px;
    line-height: 1;
}

.encabezado_isam_mobile {
    color: white;
    text-shadow: #474747 3px 5px 2px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 26px;
    letter-spacing: -0.3px;
    line-height: 1.05;
}

/* Typed strings styling (header subtitle) */
#typed, #typed-strings, .nav_isam {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

/* Language toggle button in navbar */
#lang-toggle {
    border-color: rgba(255,255,255,0.25);
    color: #fff;
}

#lang-toggle:hover {
    color: #fff;
}

.p_aboutme {
    font-size: 20px;
}

.imgtimeline {
    display:flex;
    align-items: center;
    margin: auto;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='red' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

#knowledge .container {
    margin-top: 75px;
}

.text-muted:hover {
    cursor: pointer;
}

/* 
*********************************** 
        FOOTER STYLES.
***********************************
*/
footer {
    height: 10px;
}
footer .row {
    
    
    padding: 10px;  
    color: white;
}

@media (max-width: 767px) {
    .footer-copyright {
        font-size: 14px;
    }
}

/* Respect users' reduced motion preference: reduce animations/transitions */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.001ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.001ms !important;
        scroll-behavior: auto !important;
    }
}


/** BACKGROUNDS FOR IPHONE **/
/*============================================================================== 
    iPhone 4 and 4S || 320 x 480 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 320px) 
and (max-width: 480px){
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
}

@media only screen and (min-width: 320px) 
and (max-width: 480px) and (orientation: portrait) {
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
}

@media only screen and (min-width: 320px) 
and (max-width: 480px) and (orientation: landscape) {
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
}

/*============================================================================== 
iPhone 5, 5S, 5C and 5SE || 320 x 568 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 320px) 
and (max-width: 568px){
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
}

@media only screen and (min-width: 320px) 
and (max-width: 568px) and (orientation: portrait) {
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
}

@media only screen and (min-width: 320px) 
and (max-width: 568px) and (orientation: landscape) {
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
}

/*============================================================================== 
iPhone 6, 6S, 7 and 8 || 375 x 667 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 375px) 
and (max-width: 667px){
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
}

@media only screen and (min-width: 375px) 
and (max-width: 667px) and (orientation: portrait) {
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
}


@media only screen and (min-width: 375px) 
and (max-width: 667px) and (orientation: landscape) { 
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
}

/*============================================================================== 
iPhone 6+, 7+ and 8+ || 414 x 736 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 414px) 
and (max-width: 736px){ 
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
}

@media only screen and (min-width: 414px) 
and (max-width: 736px) and (orientation: portrait) { 
    .test-class{display: none !important; visibility: hidden !important;}

}

@media only screen and (min-width: 414px) 
and (max-width: 736px) and (orientation: landscape) { 
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
}

/*============================================================================== 
iPhone X || 375 x 812 || Default, Portrait and Landscape
================================================================================ */
@media only screen and (min-width: 375px) 
and (max-width: 812px){ 
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
}

@media only screen and (min-width: 375px) 
and (max-width: 812px) and (orientation: portrait) { 
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
}

@media only screen and (min-width: 375px) 
and (max-width: 812px) and (orientation: landscape) { 
    #inicio {        
        background-image: url("../img/cabecera_movil.png");
        background-size: cover;
    }
}