html {
    scroll-behavior: smooth;
}
  
.container-fluid {
    background-color: rgba(224, 224, 224, 0.7);
    font-family: 'Raleway', sans-serif;
    color: #333;
}

/* 
*********************************** 
        HEADER STYLES
***********************************
*/

/* Para el scrollspy */

#main-nav.scrolled, #main-nav.buttonaso  {
    transition: 1s ease;
    background: rgb(19, 51, 110) !important;
}

#main-nav .act .active{
    opacity: 1;
    color: white;
    background: rgba(0, 39, 110, 1);
}

.nav_isam {
    color: white; 
    text-shadow: #474747 3px 5px 2px;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: -1px;
    margin-left: 15px;
    font-size: 30px;
}

.nav-link {
   padding: 15px 15px !important;
   opacity: 0.7;
   color: white;
}

/* HOVER BORDE. */
nav ul li {    
    color: white;
    opacity: 1;
    position: relative;

}

nav ul li:before{
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 50%;
  bottom: 0;
  transition: all .3s;
}

nav ul li:hover:before{
  opacity: 1;
  left: 0;
  width: 100%;
}

nav ul li a:hover{
  opacity: 1;
  color: white;
}




/* 
*********************************** 
        MAIN STYLES
***********************************
*/

.columnsmain {
    margin-top: 70px;
}

/* PARA LA IMAGEN DE LA CABECERA, DEPENDIENDO SI ES MOVIL O ALGO MÁS GRANDE. */
@media (min-width: 767px) {
    #inicio {        
      background-image: url(../img/cabecera_movil.jpg);
    }
  }

@media (max-width: 767px) {
    #inicio {
    background-image: url("../img/cabecera.jpg");  
    }
  }

#inicio {
    color: white;
    height: 100vh;
    opacity: 1;
    /* BG-IMAGE */
    background-position: center left;          
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}


/* ICONS MAIN STYLES  */
/* ICONOS EN MÓVIL O EN ORDENADOR. */
@media (min-width: 767px) {
    .icon-laptop {        
        font-size: 100px;
    }
    
    .icon-plus {
        font-size: 25px;
    }    

    .icon-coffee {
        font-size: 50px;
    }

    .icon-eq-outline {
        font-size: 25px;
    }  
  }

@media (max-width: 767px) {
    .icon-laptop {        
        font-size: 50px;
    }
    .icon-plus {
        font-size: 15px;
    }
    .icon-coffee {
        font-size: 30px;
    }  
    .icon-eq-outline {
        font-size: 15px;
    }  
  }

.icon-laptop:hover:before {
	-webkit-animation: toTopFromBottom 0.6s forwards;
	-moz-animation: toTopFromBottom 0.6s forwards;
	animation: toTopFromBottom 0.6s forwards;
}

@-webkit-keyframes toTopFromBottom {
	49% {
		-webkit-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toTopFromBottom {
	49% {
		-moz-transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toTopFromBottom {
	49% {
		transform: translateY(-100%);
	}
	50% {
		opacity: 0;
		transform: translateY(100%);
	}
	51% {
		opacity: 1;
	}
}

.icon-coffee:hover:before {
	-webkit-animation: toBottomFromTop 0.6s forwards;
	-moz-animation: toBottomFromTop 0.6s forwards;
	animation: toBottomFromTop 0.6s forwards;
}

@-webkit-keyframes toBottomFromTop {
	49% {
		-webkit-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-webkit-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@-moz-keyframes toBottomFromTop {
	49% {
		-moz-transform: translateY(100%);
	}
	50% {
		opacity: 0;
		-moz-transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}
@keyframes toBottomFromTop {
	49% {
		transform: translateY(100%);
	}
	50% {
		opacity: 0;
		transform: translateY(-100%);
	}
	51% {
		opacity: 1;
	}
}

.icon-plus:hover:before  {
	-webkit-animation: spinAround 4s linear infinite;
	-moz-animation: spinAround 4s linear infinite;
	animation: spinAround 4s linear infinite;
}

.icon-eq-outline:hover:before  {
	-webkit-animation: spin 4s linear infinite;
	-moz-animation: spin 4s linear infinite;
	animation: spin 4s linear infinite;
}
/* Una pequeña funciona para rotar los iconos. */

@-webkit-keyframes spinAround {
	from {
		-webkit-transform: rotate(0deg)
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}
@-moz-keyframes spinAround {
	from {
		-moz-transform: rotate(0deg)
	}
	to {
		-moz-transform: rotate(360deg);
	}
}
@keyframes spinAround {
	from {
		transform: rotate(0deg)
	}
	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes spin {
	from {
		-webkit-transform: rotate(360deg)
	}
	to {
		-webkit-transform: rotate(0deg);
	}
}
@-moz-keyframes spin {
	from {
		-moz-transform: rotate(360deg)
	}
	to {
		-moz-transform: rotate(0deg);
	}
}
@keyframes spin {
	from {
		transform: rotate(360deg)
	}
	to {
		transform: rotate(0deg);
	}
}
.encabezado_isam {    
    color: white;    
    text-shadow: #474747 3px 5px 2px;
    font-family: 'Segoe UI';
    font-size: 55px;
    font-weight: bold;
}

.encabezado_isam_mobile {    
    color: white;
    text-shadow: #474747 3px 5px 2px;
    font-size: 25px;
    font-weight: bold;
}

.p_aboutme {
    font-size: 25px;
}

/* 
*********************************** 
        FOOTER STYLES.
***********************************
*/
footer .row {
    padding: 40px;    
    color: white;
}

