/* HEADER STYLES */
header nav {
    background-color: #4CAF50 ;
}

.encabezado_isam {
    color: white;
    
    font-size: 30px;
}


.nav-link {
   padding: 20px;
   color: white;
}

/* nav ul li a {
    
    color: white;    
} */

nav ul li a:hover {    

    /* HOVER SOMBRA DE ABAJO. */
    transition: all .3s ease-in;
    box-shadow:  0 -2px 0 0 white inset;    
}

/* Para el scrollspy */

#main-nav .active{
    color: black;
    background: rgba(40, 167, 69, 1);;
}

/* MAIN STYLES */

.columnsmain {
    padding-top: 65px;
}
